{% extends 'hospital/homebase.html' %}
{%load static%}

{% block content %}

<style>
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Adjust as needed for your layout */
    /* background-color: #e9ecef; */
  }
  .back-image{
  background-image: url('{% static "images/hospitalback.jpg" %}');
  background-size:cover; /* Set the size of the background image to cover the entire div */
  background-repeat:repeat;
}
</style>
<div class="center-content back-image">
<div class="jumbotron " style="margin-bottom:0px;background: transparent;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-success btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>
</div>
{% endblock content %}
